.to-do-item{
    border: 1px black solid;
}

.popUpTaskContainer{
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: grey;
    opacity: 0.50;
    position: absolute;
}